* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(-180deg, #bcc5ce 0%, #929ead 98%),
    radial-gradient(
      at top left,
      rgba(255, 255, 255, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 100%
    );
  background-blend-mode: screen;
}

.container {
  border-radius: 2rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
  font-family: "Poppins", sans-serif;
  font-size: 2.2rem;
  font-weight: 300;
  box-shadow: 5px 12px 20px rgb(36 37 38 / 13%);
}

.display {
  display: flex;
  flex: 1;
  padding: 3rem 2rem;
  font-size: 6rem;
  justify-content: flex-end;
  align-items: flex-end;
  cursor: default;
  overflow: hidden;
  max-width: 330px;
}

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: repeat(5, 70px);
  padding: 1rem;
  grid-gap: 1rem;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #505050;
}

.key:hover {
  cursor: pointer;
  filter: brightness(1.3);
}

.key--long {
  grid-column: span 2;
  border-radius: 5rem;
}

.key--grey {
  background-color: #d4d4d2;
  color: #1c1c1c;
}

.key--yellow {
  background-color: #ff9500;
}

.operator--active {
  color: #ff9500;
  background-color: #fff;
}
